:root {
  box-sizing: border-box;
  user-select: none;
  --dur-time: 5s;
  --col-emo-white: #F2F6F9;
  --col-emo-sun-r: #f65857;
  --col-emo-sun-y: #ec9735;
  --col-emo-rainbow-violett: #c7bbd588;
  --col-emo-rainbow-indigo: #37d5fe88;
  --col-emo-rainbow-turkisblau: #8ecffe88;
  --col-emo-rainbow-grun: #c6fe9c88;
  --col-emo-rainbow-gelb: #fdff7a88;
  --col-emo-rainbow-orange: #fedc6688;
  --col-emo-rainbow-rot: #fd7a5b88;
}
* {
  box-sizing: inherit;
  xoutline: cyan 1px solid;
}
body,
html {
  cursor: url('mouse.custom.cur'), auto !important;
}
body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: var(--col-emo-white);
}
.round-full {
  border-radius: 100%;
}
.view-wrpper {
  position: relative;
  width: 500px;
  height: 500px;
  display: grid;
  place-content: center;
  border-radius: 100%;
  overflow: hidden;
}
.sea-like-wrp {
  width: 500px;
  height: 500px;
  border-radius: 100%;
}
.sea-like-wrp:hover {
  transform: scale(1.7);
  border-radius: 50px;
}
.sea-like-wrp:hover ~ .sea-half-mask {
  background-color: transparent;
}
.sea-like-wrp:hover ~ .sun-like {
  --col-emo-sunpar: var(--col-emo-sun-y);
  --col-emo-sun: var(--col-emo-sun-r);
  transform: translateY(-100%);
}
.sea-like {
  --col-emo-sky: #4d5ba544;
  --col-emo-sea: #49bcaf;
  --col-emo-mid: #e16d7a55;
  height: 100%;
  background-image: linear-gradient(var(--col-emo-sky) 20%, var(--col-emo-mid) 45%, var(--col-emo-mid) 55%, var(--col-emo-sea) 100%);
}
.sea-like:xhover {
  --col-emo-sky: #f1e4dc;
  --col-emo-sea: #f9b2c4;
  border-radius: 50px;
}
.sea-like:hover {
  border-radius: 50px;
  --col-emo-mid: var(--col-emo-white);
  --col-emo-sea: #dbe9f3;
  --col-emo-sky: #4991cd;
}
.sea-half-mask {
  width: 500px;
  height: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 999;
  border-radius: 0 0 999px 999px;
  filter: blur(20px);
  background-color: #FFF6;
}
.sea-half-mask:hover {
  background-color: #f6585722;
}
.sea-half-mask:hover ~ .sun-like {
  transform: translateY(25%);
  --col-emo-sun: #fff2be;
}
.sun-like {
  --col-emo-sunpar: var(--col-emo-sun-r);
  --col-emo-sun: var(--col-emo-sun-y);
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(var(--col-emo-sunpar) 50%, var(--col-emo-sun) 100%);
  transform: scale(0.8) translateY(-10%);
}
.overload.sun-like {
  opacity: 0;
  border: 1px dotted #333;
  background-color: transparent;
  background: unset;
  font-size: 28px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.overload.sun-like:hover {
  opacity: 1;
}
.rainbow-like {
  position: absolute;
  background-image: radial-gradient(ellipse closest-side, transparent 60%, var(--col-emo-rainbow-violett) 65%, var(--col-emo-rainbow-indigo) 68%, var(--col-emo-rainbow-turkisblau) 71%, var(--col-emo-rainbow-grun) 74%, var(--col-emo-rainbow-gelb) 77%, var(--col-emo-rainbow-orange) 80%, var(--col-emo-rainbow-rot) 83%, transparent 85%);
  z-index: 9;
  width: 150%;
  height: 160%;
  top: 15%;
  left: -36.4%;
  opacity: 0;
}
.view-wrpper:hover .rainbow-like {
  opacity: 1;
}
.sea-like-wrp {
  transition: all var(--dur-time) ease-out;
}
.sea-half-mask {
  transition: all var(--dur-time) ease-out;
}
.sea-like {
  animation: anima-sea 22s linear infinite reverse paused;
  transition: --col-emo-sky var(--dur-time) ease-out, --col-emo-sea var(--dur-time) ease-out, --col-emo-mid var(--dur-time) ease-out, border-radius var(--dur-time) ease-out;
}
.sun-like {
  xanimation: anima-sun var(--dur-time) linear infinite;
  transition: --col-emo-sunpar var(--dur-time) ease-out, --col-emo-sun var(--dur-time) ease-out, transform var(--dur-time) ease-out, opacity var(--dur-time) ease-out;
}
.rainbow-like {
  transition: opacity var(--dur-time) ease-out;
}
@keyframes anima-sea {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(calc(360deg + 180deg));
  }
}
@keyframes anima-sun {
  from {
    opacity: 1;
    filter: blur(2px);
  }
  50% {
    opacity: 0.4;
    filter: blur(0);
  }
  to {
    opacity: 1;
    filter: blur(2px);
  }
}
/*# sourceMappingURL=./index-with-rainbow.css.map */